body {
    background-color: #FFD78A;
    font-family: sans-serif;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }
  
  .container {
    margin: 0 auto;
    padding-top: 50px; }
  
  .important {
    font-weight: bold;
    color: black; }
  
  .todo_list {
      display: none;
    max-width: 400px;
    margin: 0 auto 40px;
    background-color: #1BA39C;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 10px 0 #074b83;
    box-shadow: 0 2px 10px 0 #074b83; }
  
  h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 30px; }
  
  .create_new_todo {
    text-align: center; }
  
  input[type=text] {
    width: 376px;
    padding: 10px; }
  
  button {
    margin-top: 10px;
    width: 400px;
    padding: 10px;
    cursor: pointer; }
  
  .todo {
    padding-left: 0; }
    .todo li {
        position: relative;
      padding: 1em;
      list-style-type: none; }
      .todo li:not(:last-child) {
        border-bottom: 1px solid #000; }
  
  input[type=checkbox] {
    opacity: 0;
    position: absolute; }
  
  input[type=checkbox], label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer; }
  
  input[type=checkbox] + label:before {
    content: '';
    background: #1BA39C;
    border-radius: 5px;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    padding: 2px;
    margin-right: 10px;
    text-align: center; }
  
  input[type=checkbox]:checked + label:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 5px;
    border: solid blue;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-radius: 0;
    margin: 0 15px 5px 5px; }
  
    .btns{
        display: flex;
        
    }

    .close {
        margin-left: 15px;
        color: black;
        float: right;
        font-size: 26px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }
    
    .close:hover {
        color: white;
    }
       

    .login_list {
    display:block;
    max-width: 400px;
    
    margin: 0 auto 40px;
    background-color: #1BA39C;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 10px 0 #074b83;
    box-shadow: 0 2px 10px 0 #074b83; }